<div class="container my-5">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
        <h1 class="text-body-emphasis">Bienvenidos a Movie Ecommerce</h1>
        <p class="col-lg-8 mx-auto fs-5 text-muted">
            {{data}}
        </p>
        <div class="d-inline-flex gap-2 mb-5">
            <a href="/products" class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button">
                Ver Catálogo
            </a>
        </div>
    </div>
</div>